@import '~@angular/material/theming';
@import './app-theme';
@import './styles/typography';

// Include material core styles.
@include mat-core();
@include docs-site-typography();

// Define the light theme.
$primary: mat-palette($mat-cyan);
$accent: mat-palette($mat-amber, A200, A100, A400);

$theme: mat-light-theme($primary, $accent);
@include angular-material-theme($theme);
@include material-docs-app-theme($theme);

body {
  font-family: "Roboto", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  margin: 0;
}

.docs-button[md-button], .docs-button[md-raised-button] {
  text-transform: uppercase;
}

h1, h2 {
  font-weight: 400;
}

pre {
  // Pre elements won't wrap text by default and can exceed the boundaries of their parent element.
  // This adds extra scroll space when visiting the docs mobile. Pre-wrapping the code examples
  // will ensure that the code never exceeds the page width.
  white-space: pre-wrap;
}

.bqs-primary-header {
  //padding-left: 20px;

  h1 {
    font-size: 30px;
    font-weight: 300;
    margin: 0;
    padding: 50px 50px 10px 50px;
  }

  p {
    padding-left: 50px;
    color: white;
  }

  .refresh-button {
    bottom: -15px;
    left: 80%;
    position: relative;
  }

  @media screen and (max-width: 720px) {
    h1 {
      padding: 15px 15px 5px 15px;
    }
  }

}

code {
  font-size: 90%;
}

.router-content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: auto;

  // The rule will match the element following the router-outlet which will be the routed component.
  router-outlet + * {
    flex-grow: 1;
    height: 100%;

    bqs-data-source-list, bqs-global-key-list, bqs-query-list,
    bqs-report-list, bqs-user-list {
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -ms-flex-direction: column;
      -webkit-flex-direction: column;
      flex-direction: column;
    }

    .mat-progress-bar {
      position: absolute;
    }

    .fab {
      position: absolute;
      right: 20px;
      bottom: 10px;
      z-index: 9999;
    }

  }

}

md-spinner {
  width: 30px;
  height: 30px;
}

tag-input {
  padding-bottom: 1.25em;

  .ng2-tag-input__text-input {
    padding: 0 !important;
  }

  .ng2-tag-input {
    border-bottom: 1px solid rgba(0, 0, 0, 0.42) !important;
  }

}

plotlychart {
  display: block;
  width: 100%;
}

.plotlychart-container, .plotly {
  width: 100%;
}

mat-table {
  .mat-header-cell {
    min-width: 130px;
    font-size: 12px;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.54);
  }

  .mat-cell {
    min-width: 130px;
    font-size: 13px;
    color: rgba(0, 0, 0, 0.87);
    padding-right: 3px;
    word-wrap: break-word;
  }
}

.model-edit {
  width: 90%;
  margin: 20px auto;
}

.model-list {
  width: 100%;
  margin: 8px auto;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -ms-flex-direction: row-reverse;
  -webkit-flex-direction: row-reverse;
  flex-direction: row-reverse;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;

  > div {
    padding: 0 8px;
  }

  .model-list-table {
    overflow: scroll;
    margin-bottom: 10px;

    > mat-table {
      display: inline-block;
    }

  }

  .model-list-filter {
    font-size: 13px;
    padding-top: 25px;
    z-index: 5;
    flex: 1;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -ms-flex-direction: column;
    -webkit-flex-direction: column;
    flex-direction: column;
    margin: 0 0 60px 0;
    max-width: 250px;

    > * {
      margin: 8px 0 0 15px;
      width: 200px;
    }

    > button {
      max-width: 200px;
    }
  }

  @media screen and (max-width: 720px) {
    height: auto;
    display: block;

    > .model-list-table, .model-list-filter {
      margin: 10px 8px;
    }

    > .model-list-filter {
      max-width: none;
      > * {
        width: auto;
      }
    }
  }

}

.model-edit > div {
  width: 90%;
  margin: 20px auto;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -ms-flex-direction: column;
  -webkit-flex-direction: column;
  flex-direction: column;

  > * {
    margin: 5px 25px;
  }
}
