<button mat-mini-fab class="fab" routerLink="/admin/global_key_value/edit">
  <mat-icon>add</mat-icon>
</button>

<div class="bqs-primary-header">
  <h1>GlobalKeyValues</h1>
</div>

<div class="model-list">

  <div class="model-list-filter mat-elevation-z8">

    <mat-form-field floatPlaceholder="never">
      <input matInput #filter placeholder="Filter">
    </mat-form-field>

    <mat-form-field>
      <mat-select placeholder="Type"
                  name="type" [(ngModel)]="typeFilter">
        <mat-option [value]="'PREDEFINED'">
          PREDEFINED
        </mat-option>
        <mat-option [value]="'FREEFORM'">
          FREEFORM
        </mat-option>
        <mat-option [value]="'clear'">
        </mat-option>
      </mat-select>
    </mat-form-field>

  </div>

  <div class="model-list-table">

    <mat-table #table [dataSource]="global_key$" matSort>

      <!--- Note that these columns can be defined in any order.
            The actual rendered columns are set as a property on the row definition" -->

      <!-- ID Column -->
      <ng-container cdkColumnDef="id">
        <mat-header-cell *cdkHeaderCellDef> ID</mat-header-cell>
        <mat-cell *cdkCellDef="let row"> {{row.id}}</mat-cell>
      </ng-container>

      <!-- Name Column -->
      <ng-container cdkColumnDef="display_name">
        <mat-header-cell *cdkHeaderCellDef mat-sort-header> Display Name</mat-header-cell>
        <mat-cell *cdkCellDef="let row"> {{row.display_name}}</mat-cell>
      </ng-container>

      <!-- Type Column -->
      <ng-container cdkColumnDef="type">
        <mat-header-cell *cdkHeaderCellDef mat-sort-header> Type</mat-header-cell>
        <mat-cell *cdkCellDef="let row"> {{row.type}}</mat-cell>
      </ng-container>

      <!-- Created Column -->
      <ng-container cdkColumnDef="created">
        <mat-header-cell *cdkHeaderCellDef mat-sort-header> Created</mat-header-cell>
        <mat-cell *cdkCellDef="let row"> {{row.created}}</mat-cell>
      </ng-container>

      <!-- Updated Column -->
      <ng-container cdkColumnDef="updated">
        <mat-header-cell *cdkHeaderCellDef mat-sort-header> Updated</mat-header-cell>
        <mat-cell *cdkCellDef="let row"> {{row.updated}}</mat-cell>
      </ng-container>

      <!-- Control Column -->
      <ng-container cdkColumnDef="control">
        <mat-header-cell *cdkHeaderCellDef></mat-header-cell>
        <mat-cell *cdkCellDef="let row">
          <button mat-icon-button routerLink="/admin/global_key_value/{{row.urlsafe}}">
            <mat-icon>remove_red_eye</mat-icon>
          </button>
          <button mat-icon-button routerLink="/admin/global_key_value/edit/{{row.urlsafe}}">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-icon-button (click)="del(row.urlsafe)">
            <mat-icon>delete</mat-icon>
          </button>
        </mat-cell>
      </ng-container>


      <mat-header-row *cdkHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *cdkRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>

    <div [hidden]="reloading$ | async">
      <mat-paginator #paginator
                     [length]="table_length$ | async"
                     [pageIndex]="0"
                     [pageSize]="10"
                     [pageSizeOptions]="[5, 10, 25, 100]">
      </mat-paginator>
    </div>

  </div>

</div>
