.chart-js-container {
  > * {
    margin: 0 auto;
  }

  .pie {
    max-width: 400px;
  }

  .line {
    max-width: 900px;
  }

  canvas {
    //max-width: 900px;
    //max-height: 350px;
    //width: auto !important;
    //height: 100% !important;
  }

}
