<div class="data-table-container">

  <h3 *ngIf="data?.name">{{data?.name}}</h3>

  <mat-table #table [dataSource]="table_data$">
    <ng-template ngFor let-item let-i="index" [ngForOf]="table_schema">

      <ng-container [cdkColumnDef]="item">
        <mat-header-cell *cdkHeaderCellDef> {{table_schema_name?table_schema_name[i]:item}}</mat-header-cell>
        <mat-cell *cdkCellDef="let row">
          <span *ngIf="is_number(row[item])">{{row[item] | number:'.0-2'}}</span>
          <span *ngIf="!is_number(row[item])">{{row[item]}}</span>
        </mat-cell>
      </ng-container>

    </ng-template>

    <mat-header-row *cdkHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *cdkRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
  <div [hidden]="table_data.length === 1">
    <mat-paginator #paginator
                   [length]="table_data.length"
                   [pageIndex]="0"
                   [pageSize]="10"
                   [pageSizeOptions]="[5, 10, 25, 100]">
    </mat-paginator>
  </div>
</div>
