<button mat-mini-fab class="fab" (click)="onSumbit()">
  <mat-icon>save</mat-icon>
</button>

<div class="bqs-primary-header">
  <h1>{{editMode}} a Query</h1>
</div>

<form [connect]="['admin', 'query', 'form']" class="model-edit">
  <div class="mat-elevation-z8">
    <div *ngIf="editMode == 'Create'">
      <mat-form-field>
        <input matInput placeholder="ID"
               name="id" ngControl ngModel>
      </mat-form-field>
    </div>

    <div>
      <mat-form-field>
        <input matInput placeholder="Name"
               name="name" ngControl ngModel>
      </mat-form-field>
    </div>

    <div>
      <mat-form-field>
        <mat-select placeholder="Data Source ID"
                    ngControl ngModel
                    name="data_source_id">
          <mat-option *ngFor="let id of data_source_ids$ | async" [value]="id">
            {{ id }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div>
      <bqs-ace-editor mode="sql" name="query_str" ngControl ngModel>
      </bqs-ace-editor>
    </div>

    <div>
      <mat-slide-toggle name="cache" ngControl ngModel>Cache
      </mat-slide-toggle>
    </div>

    <div>
      <tag-input placeholder="Tags" secondaryPlaceholder="Tags"
                 [modelAsStrings]="true" [theme]="'foundation-theme'"
                 name="tag" ngControl ngModel>
      </tag-input>
    </div>


  </div>
</form>
