<mat-progress-bar *ngIf="loading$ | async" mode="indeterminate"></mat-progress-bar>

<div class="bqs-primary-header flex layout horizontal">
  <button mat-button class="bqs-square-sidenav-button" [routerLink]="['square', 'list']">
    <mat-icon>widgets</mat-icon>
  </button>
  <div class="bqs-square-header">
    <h1>{{ (square$ | async)?.name }}</h1>
    <p>{{ (square$ | async)?.description }}</p>
    <button mat-mini-fab class="refresh-button" (click)="run_query()">
      <mat-icon>refresh</mat-icon>
    </button>
  </div>
</div>

<div class="bqs-square layout horizontal wrap center-justified mat-elevation-z8">

  <ng-template ngFor let-item [ngForOf]="square_active_items$ | async">
    <div class="bqs-square-item-container"
         [class.half]="item.size=='half'"
         [class.full]="item.size=='full'">

      <div class="bqs-square-item" [class.bqs-square-item-input]="item.type.indexOf('input_')==0">

        <ng-template [ngIf]="!item.loading&&item.result&&item.result['error']">
          <span>{{item.result['error']}}</span>
        </ng-template>

        <ng-template [ngIf]="!item.loading&&item.result&&!item.result['error']||(item.type.indexOf('input_')==0)">
          <bqs-square-item [squareItem]="item"></bqs-square-item>
        </ng-template>

        <div class="layout center-center"
             [style.display]="item.loading?'flex':'none'">
          <mat-spinner [diameter]="30"></mat-spinner>
        </div>

      </div>

    </div>
  </ng-template>

  <div class="busy" *ngIf="loading$ | async"></div>

</div>
