.global-key-list-table {
  width: 90%;
  margin: 20px auto;
}

.mat-table {
  overflow: auto;
}

.table {
  display: flex;
  flex-direction: column;
  max-height: 500px;
  min-width: 300px;
}


.table-header {
  min-height: 64px;
  display: flex;
  align-items: baseline;
  padding: 8px 24px 0;
  justify-content: space-between;
  font-size: 13px;
}


