<mat-sidenav-container class="bqs-square-sidenav-container">
  <mat-sidenav #sidenav class="bqs-square-sidenav"
               mode="push">

    <nav>
      <ul>
        <li *ngFor="let item of square_items$ | async">
          <a [routerLink]="['/square', item.urlsafe]" (click)="sidenav.close()">{{ item.name }}</a>
        </li>
      </ul>
    </nav>
  </mat-sidenav>

  <div class="bqs-square-sidenav-content">

    <div>
      <mat-progress-bar *ngIf="loading$ | async" mode="indeterminate"></mat-progress-bar>

      <div class="bqs-primary-header flex layout horizontal">
        <button mat-button class="bqs-square-sidenav-button" (click)="sidenav.open()">
          <mat-icon>menu</mat-icon>
        </button>
        <div class="bqs-square-header">
          <h1>{{ (square$ | async)?.name }}</h1>
          <p>{{ (square$ | async)?.description }}</p>
          <button mat-mini-fab class="refresh-button" (click)="run_query()">
            <mat-icon>refresh</mat-icon>
          </button>
        </div>
      </div>
    </div>

    <router-outlet></router-outlet>
  </div>
</mat-sidenav-container>
